body
{
    margin: 0px;
}

.header
{
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    height: 5vh;
    background-color: #d49466;
}

.header .main1
{
    position: relative;
    top: 12px;
    left: 50px;
    float: left;
    width: 180px;
}

.header .nav
{
    position: relative;
    top: 0px;
    width: 1280px;
    min-width: 1280px;
    margin: 0px auto;
    height: 100%;
    background-color: #d49466;
}

.header .nav .main2, .main3, .main4, .main5, .main6, .main7
{
    position: relative;
    top: 13px;
    left: 60px;
    float: left;
    width: 200px;
    cursor: pointer;
}

.main
{
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    min-height: 90vh;
}

.main .notice
{
    display: none;
}

.main .notice_background
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
    opacity: 0.3;
}

.main .notice_border
{
    position: relative;
    top: 22vh;
    margin:  0 auto;
    width: 500px;
    height: 500px;
    background-color: white;
    z-index: 3;
}

.main .section1
{
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 600px;
    padding-top: 50px;
}

.main .section1 .img1
{
    width: 1280px;
    height: 600px;
}

.main .section2
{
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 600px;
    padding-top: 50px;
}

.main .section2 .text1
{
    position: absolute;
    top: 20px;
    left: 400px;
    font-size: 16pt;
    font-family: HY견고딕;
    font-weight: 700;
    text-align: center;
}

.main .section2 .text2
{
    position: absolute;
    top: 160px;
    left: 600px;
    width: 600px;
    height: 400px;
    font-size: 16pt;
    font-family: HY견고딕;
}

.main .section2 .img2
{
    position: absolute;
    top: 160px;
    left: 140px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("../img/KakaoTalk.jpg");
    background-size: 100%;
}

.footer
{
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    height: 5vh;
    background-color: #263343;
}